.myshadow{
    box-shadow: 0px 5px 7px #888888;
    z-index: 999;
}

.mytitle{
    color: #30ADD1;
    font-weight: 400;
    font-size: x-large;
    width: fit-content;
    padding: 5px;
}

.myscroll{
    overflow: auto;
    height: 550px !important;
}



.separate{
    border-bottom: 3px solid #30ADD1;
}

.separate-right{
    border-right: 1px solid #30ADD1;
}

.mybg{
    background: #30ADD1;
    color: white;
}

.mybg:hover{
    background: #30ADD1;
    color: white;
}